body {
    background: #f7e8e6;
}

#Header a:hover 
{
    color: #FFF;
}

#background-img
{
    background: url('img/background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;

}

#About {
    margin-top: -200px ;
}

#About span 
{
    padding: 10px 20px 10px 20px
}

#About hr 
{
    border-width: 3px;
    margin-top: 6px;
}

#Skills span
{
    padding: 10px 20px 10px 20px;
}

#Skills hr
{
    border-width: 3px;
    margin-top: 6px;
}

#Projects span 
{
    padding: 10px 20px 10px 20px;
}

#Projects hr
{
    border-width: 3px;
    margin-top: 6px;
}

#Projects .card 
{
    border-top: 7px solid #4BB543;
}

#Mini-Projects span 
{
    padding: 10px 20px 10px 20px;
}

#Mini-Projects hr
{
    border-width: 3px;
    margin-top: 6px;
}

#Mini-Projects .card 
{
    border-top: 7px solid #4BB543;
}



#Contact span
{
    padding: 10px 20px 10px 20px;

}

#Contact hr
{
    border-width: 3px;
    margin-top: 6px;
}